* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: #e5e5e5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.header-background {
  background: none;
  width: 100vw;
  background-size: cover;
  padding: 30px;
}

.header-nav-text {
  font-size: 22px;
  letter-spacing: 6px;
  font-weight: 900;
  cursor: pointer;
}

.text-button-nav {
  background: none;
  border: none;
  font-size: 16px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.text-button-black {
  width: 142px;
  height: 33px;
  border-radius: 14px;
  background: black;
  color: white;
  font-size: 16px;
  border: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1570px;
  margin: 0 auto;
  padding-top: 20px;
}

.link {
  text-decoration: none;
}

.first-text-title {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 0.08em;
}

.first-sub-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 60px;
  letter-spacing: 0.08em;
  line-height: 43px;
}

.main-page-content {
  margin-top: 130px;
}

.black-box {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

black-box-text .black-box > *:nth-child(1),
.black-box > *:nth-child(2) {
  width: 50%;
}

.white-little-title {
  font-size: 16px;
  color: white;
}

.black-big-title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.img {
  border-radius: 20px;
  width: 100%;
}
.big-subtext {
  letter-spacing: 0.04em;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  padding-bottom: 30px;
}

.second-big-subtext {
  letter-spacing: 0.04em;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.little-title {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-bottom: 25px;
}

.big-title {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-bottom: 60px;
}

.black-box-with-gradient-second-part {
  background: white;
  margin-top: 50px;
}

.black-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

black-box-text .black-box > *:nth-child(1),
.black-box > *:nth-child(2) {
  width: 50%;
}

.box-image > img {
  width: 100%;
  display: block;
}

.white-little-title {
  font-size: 16px;
  color: white;
}
.little-title-black {
  color: white;
}

.big-sub-text-black {
  color: white;
}

.big-title-black {
  color: white;
}

.black-big-title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.big-sub-text {
  font-size: 24px;
  color: white;
  padding-top: 35px;
  line-height: 43px;
}

.little-sub-text {
  font-size: 16px;
  color: white;
  padding-top: 55px;
  line-height: 30px;
}

.box-with-only-text {
  padding-top: 120px;
}

.black-box-wrapper {
  background: black;
}

.white-work-resume-box {
  width: 420px;
  border: 1px solid white;
  padding-left: 40px;
  padding-top: 40px;
  border-radius: 15px;
}

.white-work-resume-title {
  font-size: 24px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-bottom: 90px;
}

.white-work-resume-sub-text {
  font-size: 14px;
  color: #b4b4b4;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-bottom: 15px;
}

.white-work-resume-btn {
  width: 125px;
  background: none;
  border-radius: 11px;
  border: 1px solid white;
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.white-work-resume-btn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

.box-with-work-resume {
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  margin: 0 auto;
}

.box-with-work-resume-second {
  margin-top: 100px;
}

.white-box-for-other-resume {
  width: 420px;
  border: 1px solid white;
  background: white;
  padding-left: 40px;
  padding-top: 40px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.white-box-for-other-text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.white-box-for-other-resume-button {
  width: 125px;
  background: none;
  border-radius: 11px;
  border: 1px solid black;
  font-size: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.white-box-for-other-resume-button:hover {
  color: white;
  background: black;
  border: 1px solid black;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
  }
  
  .email-row {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid black;
  }
  .box-with-buttons {
    margin-top: 20px;
  }
  
  .footer-text {
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
  }
  
  .contacts-sub-text-for-padding {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  
  .line-with-text-second-part {
    display: flex;
  }
  .contacts-text-sub-title {
    letter-spacing: 0.08em;
    font-size: 18px;
  }
  
  .contact-sub-text {
    letter-spacing: 0.05em;
    font-size: 16px;
  }
  
  .box-with-contacts {
    margin-top: 120px;
  }
  
  .left-text-part-title {
    letter-spacing: 0.35em;
    font-size: 20px;
    padding-bottom: 40px;
  }
  
  .subtext {
    padding-right: 100px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 30px;
  }
  .contacts-sub-text-for-padding {
    padding-top: 46px;
    padding-bottom: 46px;
  }
